<%= menu %>

<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:garbage) %>

<%= flash_tag %>

<div class="commonBtnArea">
<div class="leftBox">
<%= search_tag %>
</div>
<div class="rightBox">
<%= csv_button_tag %>
<%= new_button_tag %>
</div>
<!--/ commonBtnArea--></div>

<div class="list">
<%= paginate_tag @garbages %>
<%= counter_tag %>
<table class="commonList">
<thead>
  <tr>
    <th><%=hlabel :garbage, :name %><%= sort_tag('name')%></th>
    <th><%=hlabel :garbage, :ruby %><%= sort_tag('ruby')%></th>
    <th><%=hlabel :garbage, :image_url %><%= sort_tag('image_url')%></th>
    <th><%=hlabel :garbage, :category_id %><%= sort_tag('category')%></th>
  </tr>
</thead>
<tbody>
<% @garbages.each do |garbage| %>
  <tr>
    <td><%=link_to garbage.name, garbage %></td>
    <td><%=h garbage.ruby %></td>
    <td><%=h garbage.image_url %><br><%= link_to_if !garbage.image_url.blank?, ((image_tag IMAGE_SERVER + garbage.image_url, :size => "115x115") unless garbage.image_url.blank?), "javascript:window.open('/mobile/detail/#{garbage.id}', 'popsample', 'width=480, height=720, menubar=no, toolbar=no, scrollbars=yes, resizable=yes').focus();" %></td>
    <td><%=hname garbage.category %></td>
  </tr>
<% end %>
</tbody>
</table>
<!--/ list--></div>

<div class="commonBtnArea">
<div class="leftBox">
<% form_tag({ :action => :upload }, { :multipart => true, :method => :post }) do  %>
<h3><%= hlabel :commons, :upload_file %></h3>
<%= note "インポートするファイルは「CSV出力」で出力したファイルを編集してください。" %><br>
<%= note "データを新規登録する場合は「ID」列を空白にしてください。" %><br>

<%= file_field_tag :file %>
<%= submit_tag "インポート", :confirm => "インポートしますか？" %>
<% end %>
</div>
<div class="centerBox">
</div>
<!--/ commonBtnArea--></div>

<!--/ #main--></div>
<!--/ #contents--></div>
