<% form_for(@user, :url=>{ :controller=>:auth, :action=>:change} ) do |f| %>

<%= menu unless @display_type == DISPLAY_TYPE_SIMPLE %>
<div id="contents">
<%= submenu unless @display_type == DISPLAY_TYPE_SIMPLE %>

<div id="main">

<%= message unless @display_type == DISPLAY_TYPE_SIMPLE %>

<%= pagetitle :title => "パスワード変更" %>

<div class="sheet">

<%= f.error_messages %>
<%= flash_tag %>

<% content_for :button do %>
<div class="commonBtnArea">
<div class="centerBox">
<%= submit_button_tag(f, :value => '/images/btn_update.png') %>
<%= close_button_tag %>
</div>
<!--/ commonBtnArea--></div>
<% end %>

<%#= yield :button %>

<%#= pagesubtitle :title => "パスワード変更" %>
<%= required_notice_tag %>

<%= f.hidden_field :id %>

<table class="commonSheet">
<tr>
<th><%= f.label :account %></th>
<td>
  <%=h @user.account %>
</td>
</tr>

<tr>
<th><%= f.label :password_required %></th>
<td>
  <%= f.password_field :password_required, :value => ("" if @update_flag)  %><%= required %>
</td>
</tr>
<tr>
<th><%= f.label :password_new %></th>
<td>
  <%= f.password_field :password, :value => ("" if @update_flag) %><%= required %>
</td>
</tr>

<tr>
<th><%= f.label :password_confirmation %></th>
<td>
  <%= f.password_field :password_confirmation, :value => ("" if @update_flag) %><%= required %>
</td>
</tr>
</table>
</div>

<%= yield :button %>

<!--/ #main--></div>
<!--/ #contents--></div>

<% end %>
