<% form_for(@collect_date, :url => { :action => :update }) do |f| %>

<%= menu %>
<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:collect_date) %>

<div class="sheet">

<%= f.error_messages %>
<%= flash_tag %>

<% content_for :button do %>
<div class="commonBtnArea">
<div class="centerBox">
<%= submit_button_tag(f, :value => '/images/btn_update.png') %>
<%= index_button_tag %>
</div>
<!--/ commonBtnArea--></div>
<% end %>

<%#= yield :button %>

<%= pagesubtitle %>
<%= required_notice_tag %>

<table class="commonSheet">
<tr>
<th><%= f.label :area %></th>
<td>
  <%#= f.collection_select(:area_id, Area.find(:all), :id, :name, :include_blank => true) %><%#= required %>
  <%= hname @collect_date.area %>
  <%= f.hidden_field :area_id %>
</td>
</tr>
<tr>
<th><%= f.label :collect_date %></th>
<td>
  <%#= f.date_select :collect_date %><%#= required %>
  <%#= clear_cal_button_tag %>
  <%= hdate @collect_date.collect_date %>
  <%= f.hidden_field :collect_date %>
</td>
</tr>
<tr>
<th><%= f.label :category_group %></th>
<td>
  <%= f.collection_select(:category_group_id, CategoryGroup.find(:all, :order => :id), :id, :name, :include_blank => true) %><%#= required %>
</td>
</tr>
<%= f.hidden_field :lock_version %>
</table>

</div>

<%= yield :button %>

<!--/ #main--></div>
<!--/ #contents--></div>

<% end %>
