<%= menu %>

<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:collect_date) %>

<%= flash_tag %>

<div class="commonBtnArea">
<div class="leftBox">
<div style="clear: both;">
<%= tab_tag(@area_id) %>
</div>
<%#= search_tag :tab => @area_id %>
</div>
<div class="rightBox">
<%= csv_button_tag %>
<%#= new_button_tag %>
</div>
<!--/ commonBtnArea--></div>

<div class="list">
<%#= paginate_tag @collect_dates %>
<%#= counter_tag %>
<br><h3><%= @area.name %></h3>
<%=link_to "<< 前の月", :action => :index, :area => @area_id, :y => @py, :m => @pm %>
&nbsp;
<%=hdate @first_date, :format => "%Y年%m月" %>
&nbsp;
<%=link_to "次の月 >>", :action => :index, :area => @area_id, :y => @ny, :m => @nm %>
<table class="commonList">
<thead>
  <tr>
    <th><%= "日" %></th>
    <th><%= "月" %></th>
    <th><%= "火" %></th>
    <th><%= "水" %></th>
    <th><%= "木" %></th>
    <th><%= "金" %></th>
    <th><%= "土" %></th>
  </tr>
</thead>
<tbody>
<%= "<tr>"  unless @first_date.cwday == 7 %>
<% @first_date.cwday.to_i.times{ -%>
<%= "<td width=><br></td>" %>
<% } -%>

<% @collect_dates.each do |collect_date| -%>
<%= "<tr>"  if collect_date.collect_date.cwday == 7 %>
    <td valign='top' width='80'><%=link_to (hdate collect_date.collect_date, :format => "%d"), collect_date %><br><%=hname collect_date.category %></td>
<%= "</tr>" if collect_date.collect_date.cwday == 6 %>
<% end -%>
</tbody>
</table>
<!--/ list--></div>

<div class="commonBtnArea">
<div class="leftBox">
<% form_tag({ :action => :upload }, { :multipart => true, :method => :post }) do  %>
<h3><%= hlabel :commons, :upload_file %></h3>
<%= note "インポートするファイルは「CSV出力」で出力したファイルを編集してください。" %><br>
<%= note "データを新規登録する場合は「ID」列を空白にしてください。" %><br>

<%= file_field_tag :file %>
<%= submit_tag "インポート", :confirm => "インポートしますか？" %>
<% end %>
</div>
<div class="centerBox">
</div>
<!--/ commonBtnArea--></div>

<!--/ #main--></div>
<!--/ #contents--></div>
