<%= menu %>

<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:collect_date) %>

<%= flash_tag %>

<div class="commonBtnArea">
<div class="leftBox">
<div style="clear: both;">
<%= tab_tag(@area_id) %>
</div>
<%#= search_tag :tab => @area_id %>
</div>
<div class="rightBox">
<%= csv_button_tag %>
<%#= new_button_tag %>
</div>
<!--/ commonBtnArea--></div>

<div class="list">
<%#= paginate_tag @collect_dates %>
<%#= counter_tag %>
<h3 align="right">
<%= @area.name %>
</h3>
<h2>
<%=hdate @first_date, :format => "%Y年%m月" %>
<font size="-1">
<%=link_to "&laquo;前月", :action => :index, :a => @area_id, :y => @py, :m => @pm %>
&nbsp;
<%=link_to "今月", :action => :index, :a => @area_id, :y => Time.now.year, :m => Time.now.month %>
&nbsp;
<%=link_to "次月&raquo;", :action => :index, :a => @area_id, :y => @ny, :m => @nm %>
</h2>
<table class="commonList">
<thead>
  <tr>
    <th><%= "日" %></th>
    <th><%= "月" %></th>
    <th><%= "火" %></th>
    <th><%= "水" %></th>
    <th><%= "木" %></th>
    <th><%= "金" %></th>
    <th><%= "土" %></th>
  </tr>
</thead>
<tbody>
<% if @collect_dates.size > 0 -%>
<%= "<tr>" unless @first_date.cwday == 7 %>
<% @first_date.cwday.to_i.times{ -%>
<%= "<td width=><br></td>" %>
<% } -%>

<% @collect_dates.each do |collect_date| -%>
<%= "<tr>"  if collect_date.collect_date.to_date.cwday == 7 -%>
    <td valign='top' width='80'><%=link_to (hdate collect_date.collect_date, :format => "%d"), collect_date %><%="<font color='#703956'><b> [今日] </b></font>" if collect_date.collect_date.strftime("%Y%m%d") == Date.today.strftime("%Y%m%d")%><br><%=hname collect_date.category_group %></td>
<%= "</tr>" if collect_date.collect_date.to_date.cwday == 6 -%>
<% end -%>
<% end -%>
</tbody>
</table>
<!--/ list--></div>

<div class="commonBtnArea">
<div class="leftBox">
<!--
<% form_tag({ :action => :upload }, { :multipart => true, :method => :post }) do  %>
<h3><%= hlabel :commons, :upload_file %></h3>
<%= note "インポートするファイルは「CSV出力」で出力したファイルを編集してください。" %><br>
<%= note "データを新規登録する場合は「ID」列を空白にしてください。" %><br>

<%= file_field_tag :file %>
<%= submit_tag "インポート", :confirm => "インポートしますか？" %>
<% end %>
-->
</div>
<div class="centerBox">
</div>
<!--/ commonBtnArea--></div>

<!--/ #main--></div>
<!--/ #contents--></div>
