<% form_for(@collect_date) do |f| %>

<%= menu %>
<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:collect_date) %>

<div class="sheet">

<%= flash_tag %>

<% content_for :button do %>
<div class="commonBtnArea">
<%#= prevnext_tag %>
<div class="centerBox">
<%= delete_button_tag(@collect_date) %>
<%#= copy_button_tag %>
<%= edit_button_tag %>
<%= index_button_tag %>
</div>
<!--/ commonBtnArea--></div>
<% end %>

<%#= yield :button %>
<div class="commonBtnArea">
<%= prevnext_tag %>
</div>

<%= pagesubtitle %>

<table class="commonSheet">
<tr>
<th><%= f.label :area %></th>
<td>
  <%= hname @collect_date.area %>
  <%= f.hidden_field :area_id %>
</td>
</tr>
<tr>
<th><%= f.label :category %></th>
<td>
  <%= hname @collect_date.category %>
  <%= f.hidden_field :category_id %>
</td>
</tr>
<tr>
<th><%= f.label :collect_date %></th>
<td>
  <%= hdate @collect_date.collect_date %>
  <%= f.hidden_field :collect_date %>
</td>
</tr>
<%= f.hidden_field :lock_version %>
</table>

</div>

<%= yield :button %>

<!--/ #main--></div>
<!--/ #contents--></div>

<% end %>
