<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1, maximum-scale=1, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title>検索一覧｜しおじり ごみ サーチ </title>
<link href="/mobile/css/reset.css" rel="stylesheet" type="text/css">
<link href="/mobile/css/base.css" rel="stylesheet" type="text/css">
<link href="/mobile/css/contents.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/mobile/js/iscroll.js"></script>
<script>
	var myScroll;
	var a = 0;
	function loaded() {
		setHeight();
		myScroll = new iScroll('scroller', {desktopCompatibility:true});
	}
	function setHeight() {
		var headerH = document.getElementById('header').offsetHeight,
			footerH = document.getElementById('footer').offsetHeight,
   			wrapperH = window.innerHeight - headerH - footerH;
    	document.getElementById('wrapper').style.height = wrapperH + 'px';
    }
	window.addEventListener('onorientationchange' in window ? 'orientationchange' : 'resize', setHeight, false);
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	document.addEventListener('DOMContentLoaded', loaded, false);	</script>
</head>

<body>
<!-- header --><header id="header">
	<div class="h_item">
    	<h1 class="h_l"><img src="/mobile/images/h_logo.png" alt="しおじりごみサーチ"></h1>
        <div class="h_r">
            <form><input id="h_textinput" value="ごみ名・キーワードを入力" type="search" class="h_textinput"><input type="image" src="/mobile/images/btn_serch.png"  alt="検索" class="h_btn" ></form>
        </div>
	</div>

</header>
<!-- //header -->
<!-- wrapper --><div id="wrapper"><div id="scroller">
<% form_for(@garbage) do |f| %>
<% 5.times do %>
<section class="item_list">
<div class="ilist_txt">
<h2 class="item_ttl"><%=h @garbage.name %></h2>
    <p><%=h @garbage.ruby %></p>
    <div class="item_etc">
    <p>＜関連キーワード＞</p>
    <p ><a href="#"><%=h @garbage.keyword1 %></a><%= " - " unless @garbage.keyword2.blank? %><a href="#"><%=h @garbage.keyword2 %></a><%= " - " unless @garbage.keyword3.blank? %><a href="#"><%=h @garbage.keyword3 %></a><%= " - " unless @garbage.keyword4.blank? %><a href="#"><%=h @garbage.keyword4 %></a><%= " - " unless @garbage.keyword5.blank? %><a href="#"><%=h @garbage.keyword5 %></a></p>
    </div>
</div>
<div class="ilist_img"><img src="<%= IMAGE_SERVER + @garbage.image_url %>" alt="item_img" width="115" height="115"></div>
<div class="ilist_arw"><img src="/mobile/images/icon_arrow.png" width="32" height="20"></div><br class="clear">
</section>
<% end %>
<% end %>
</div></div>
<!-- //wrapper -->
<!-- footer -->
<footer id="footer">
	<ul>
		<li><a href="#"  class="f_btn_l">ホーム</a></li>
		<li class="f_btn_r"><a href="#" class="f_btn_r">設定</a></li>
	</ul>
</footer>
<!-- //footer -->


</body>
</html>
