<% form_for(@area, :url => { :action => :update }) do |f| %>

<%= menu %>
<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:area) %>

<div class="sheet">

<%= f.error_messages %>
<%= flash_tag %>

<% content_for :button do %>
<div class="commonBtnArea">
<div class="centerBox">
<%= submit_button_tag(f, :value => '/images/btn_update.png') %>
<%= index_button_tag %>
</div>
<!--/ commonBtnArea--></div>
<% end %>

<%#= yield :button %>

<%= pagesubtitle %>
<%= required_notice_tag %>

<table class="commonSheet">
<tr>
<th><%= f.label :name %></th>
<td>
  <%= f.text_field :name, :size => 60 %><%= required %>
</td>
</tr>
<%= f.hidden_field :lock_version %>
</table>

</div>

<%= yield :button %>

<!--/ #main--></div>
<!--/ #contents--></div>

<% end %>
