<% form_for(@area) do |f| %>

<%= menu %>
<div id="contents">
<%= submenu %>

<div id="main">

<%= message %>

<%= pagetitle :title => htitle(:area) %>

<div class="sheet">

<%= flash_tag %>

<% content_for :button do %>
<div class="commonBtnArea">
<%#= prevnext_tag %>
<div class="centerBox">
<%= delete_button_tag(@area) %>
<%#= copy_button_tag %>
<%= edit_button_tag %>
<%= index_button_tag %>
</div>
<!--/ commonBtnArea--></div>
<% end %>

<%#= yield :button %>
<div class="commonBtnArea">
<%= prevnext_tag %>
</div>

<%= pagesubtitle %>

<table class="commonSheet">
<tr>
<th><%= f.label :name %></th>
<td>
  <%= f.text_field :name, :size => 60 %><%= required %>
  <%= f.hidden_field :name %>
</td>
</tr>
<%= f.hidden_field :lock_version %>
</table>

</div>

<%= yield :button %>

<!--/ #main--></div>
<!--/ #contents--></div>

<% end %>
